{% extends 'recruit/base.html' %}
{% block content %}

<html>
    <head>

        <meta charset="utf-8">
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Yarissa - File Upload</title>
    </head>


    <body>
        <!-- List of uploaded documents
        {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}-->

           <!--  <p style="color:#4C4C4C;font-weight:bold;font-family:Calibri;font-size:20">Combine all required files into a zipped file and upload</p>-->
        <!--{% endif %}-->

        <!-- Upload form. Note enctype attribute! -->
        <div class="contain">
            <h1 class="files">FILE UPLOADS</h1>
        <div class="show">
            <h4>Required Documents:</h4>
            <p class="or">Resume | South African ID | Academic Transcripts </p>
            <p class="or">A short video containing a personal summary and why you'd be the perfect candidate for this role</p>
        </div>
        <br>
            <form method="post" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}

            <!--{{ message }}
            <p>{{ form.non_field_errors }}</p>-->

            <p>{{ form.CV.label_tag }} <!--{{ form.CV.help_text }}--></p>

            <p>
                <!--{{ form.CV.errors }}-->
                {{ form.CV }}
            </p>

            <hr>

             <p>{{ form.ID.label_tag }} <!--{{ form.CV.help_text }}--></p>

            <p>
                <!--{{ form.CV.errors }}-->
                {{ form.ID }}
            </p>

            <hr>

             <p>{{ form.Transcript.label_tag }} <!--{{ form.CV.help_text }}--></p>

            <p>
                <!--{{ form.CV.errors }}-->
                {{ form.Transcript }}
            </p>

            <hr>

             <p>{{ form.Video.label_tag }} <!--{{ form.CV.help_text }}--></p>

            <p>
                <!--{{ form.CV.errors }}-->
                {{ form.Video }}
            </p>

                <button type="submit" name="submit" class="btn btn-success">Upload</button>

        </form>
        </div>
    </body>
</html>
{% endblock %}